src/main/mule/countryorders.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    
    <apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="ed2c82c1-94dd-451b-98a5-c6a607528ac6" name="Router" api="resource::4058cbf3-c551-4163-a125-6d5f4b5a5ccf:countryorders:1.0.0:raml:zip:countryorders.raml"/>
	<flow name="countryorders-main">
        <http:listener config-ref="countryorders-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="Router"/>
            </flow>
<!-- [STUDIO:"countryorders-console"]    <flow name="countryorders-console">
        <http:listener config-ref="countryorders-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="countryorders-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{message: "Resource not found"}&#93;&#93;></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> [STUDIO] -->
    <flow name="get:\sameDateDetails:countryorders-config">
        <choice doc:name="Choice" doc:id="ae0a4a50-22ac-42bb-81e3-f0ec23fa1600" >
			<when expression="#[attributes.headers.id == p('headers.id')]">
				<flow-ref doc:name="get_sameDateDetails_implementationSub_Flow" doc:id="885ec511-8024-44ef-8350-8102d7103d43" name="get_sameDateDetails_implementationSub_Flow" />
			</when>
			<otherwise>
				<ee:transform doc:name="errorResponse" doc:id="71fecee2-e39d-40aa-9f3c-6a623fc486fc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"invalid id/please provide valid id"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="finalResponse">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\shipmentDetails:countryorders-config">
        <ee:transform doc:name="storeQueryParamsInVariable" doc:id="4042931c-49c9-49aa-a1b8-2c507ed23885" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="region" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.Region]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get_shipmentDetails_implementationSub_Flow" doc:id="b3515fda-06e3-45d2-bca8-5bb671fb4b03" name="get_shipmentDetails_implementationSub_Flow"/>
		<ee:transform doc:name="finalResponse">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
